#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
.site-layout .site-layout-background {
    background: white;
  }
.ant-menu-item{
      text-align: right;
  }
.ant-menu-submenu-title{
      text-align: right;
  }