.login_panel{
    background: #e3e7e6;
    height: calc(100vh - 63px);
}
.login_layout{
    background: white;
    min-height: 500px;
    height: 550px;
    margin-top: 50px;
}

.login_logo{
    text-align: center;
}
.login_text_under_logo{
    text-align: center;
}

.login_form{
    text-align: center;
    margin: auto;
}

.login_forget_password{
    text-align: center;
}
.ant-form-item-explain{
    font-size: 11px!important;
}
.ant-form-item-label > label{
    direction: ltr;
}
.ant-form-item-label{
    text-align: right!important;
}

.ant-form-item-explain-error{
    text-align: right !important;
    padding:3px 5px;
}