@import '~antd/dist/antd.css';

@font-face{
    font-family:"irsanase";
    src:
        url('/fonts/iranyekanwebregular.ttf') format('truetype'),
        url('/fonts/iranyekanwebregular.woff') format('woff'),
        url('/fonts/iranyekanwebregular.woff2') format('woff2'),
}

.body_section{
    font-family: "irsanase";
}
.ant-notification-notice-message{
    text-align: right;
}
.ant-notification-notice{
    background: #FF5E5B;
    color: white;
}
.ant-notification-notice-closable .ant-notification-notice-message{
    color: white;  
}
.ant-card-actions{
    background:#F5F5F5!important;
}
.ant-card-actions > li:not(:last-child){
    border-right:1px solid #4C5760!important;
}
.ant-upload-list-item-card-actions{
    right: 90%!important;
}
.rc-virtual-list-holder-inner{
    text-align: right!important;
    font-family: "irsanase"!important;
}
.ant-card-body{
    padding: 0px!important;
}