.footer{
    height: 250px;
    background: #040403;
}

.hr_style{
    border: 0;
    height: 0;
    border-top: 1px solid white(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 600px){
    .footer{
        height: 600px;
        background: #040403;
    }
}